{deps, [
        {rebar_vsn_plugin, ".*",
         {git, "https://github.com/erlware/rebar_vsn_plugin.git", {branch, "master"}}},
        {mochiweb, "",
         {git, "git@git.herokai.com:mochiweb.git", "3d331c66cca944dbf007cb024cfd109289f59d9b"}},
        {meck,".*",
         {git,"git@git.herokai.com:meck.git", "2eb19524a0cf33a0fc67fed766679c93d363ceee"}}
       ]}.

%% Rebar Plugins ==============================================================
{plugin_dir, "deps/rebar_vsn_plugin/src"}.
{plugins, [rebar_vsn_plugin]}.
