{deps, [
        {mochiweb, "",
         {git, "git@git.herokai.com:mochiweb.git", "3d331c66cca944dbf007cb024cfd109289f59d9b"}}
       ]}.

{profiles, [
    {test, [
        {deps, [
            {meck,".*",
             {git,"git@git.herokai.com:meck.git", "2eb19524a0cf33a0fc67fed766679c93d363ceee"}}
        ]}
    ]}
]}.
